/*Center align for containers*/
.container.vertical-container {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*Vertical align itens inside the container at the middle/center*/
.vertical-container > * {
    width: 100%;
    margin: auto;
}

